* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input#datetime-picker {
  display: block;
  margin: 0 2rem;
  width: 30rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #99a2e6,
    inset -0.2rem -0.2rem 0.5rem #fff;
  background: none;
  font-family: inherit;
  color: grey;
}

input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #99a2e6, -0.2rem -0.2rem 0.5rem #fff;
}

input#datetime-picker[disabled] {
  color: #5a5a5a;
}

.btn-start {
  display: inline;
  margin: 2rem;
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  border-color: transparent;
  box-shadow: 0.3rem 0.3rem 0.6rem #99a2e6, -0.2rem -0.2rem 0.5rem white;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.5rem;
  color: #99a2e6;
}

.btn-start:hover {
  color: #fff;
}

.btn-start:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #99a2e6,
    inset -0.2rem -0.2rem 0.5rem #fff;
  color: #fff;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.value {
  text-align: center;
  letter-spacing: 4px;
  color: #f1ebe5;
  text-shadow: 0 6px 8px #99a2e6, 0 -3px 1px #fff;
  font-size: 60px;
  font-weight: 600;
}

.label {
  text-align: center;
  text-transform: uppercase;
  color: #f1ebe5;
  text-shadow: 0 4px 4px #99a2e6, 0 -2px 1px #fff;
  font-size: 20px;
  font-weight: 400;
}

span {
  text-align: center;
  text-transform: uppercase;
  color: #99a2e6;
  text-shadow: 0 4px 4px #99a2e6, 0 -2px 1px #fff;
  font-size: 20px;
  font-weight: 400;
}
